div.like, div.like div {display:none;}

div{
    color: #FFFFFF;
}

.postText{
    color: #FFFFFF;
}

.fb-comments
{
    background-color: #F2F2F2 !important;
}

.fbFeedbackPost .postText {
 color: red;   
}


a{ color: red; }

